<h1>Listing Guesses</h1>
<p>
  These are the guesses!
</p>
<% @guesses.each do |guess| %>
  <h2><%= guess.name %></h2>
  <ul>
  <li><%= guess.first_guess %></li>
  <li><%= guess.second_guess %></li>
  <li><%= guess.third_guess %></li>
  </ul>
<% end %>
