<h1>Guess the Baby's Name!</h1>

<p>
  Mini-Milne is almost upon us - Karen and Tim are keeping very tight lipped on the name, 
  so just for fun you can use this site to have a guess at what they might name the little
  guy. 
</p>
<ul>
  <li>This is <strong>NOT</strong> anonymous, your guesses WILL be shared with the world.</li>
  <li>There are no prizes</li>
  <li>You have enough room for <strong>three guesses</strong>.</li>
</ul>



<%= render 'form' %>
