<h1>Guess the Baby's Name!</h1>

<p>
  Mini-Milne is almost upon us - Karen and Tim are keeping very tight lipped on the name, 
  but that doesn't mean we can't all have a bit of a punt on what they might name the little
  guy.
</p>
<ul>
  <li>This is <strong>NOT</strong> anonymous, your guesses <strong>WILL</strong> be shared with everyone and anyone.</li>
  <li>There are no prizes :p</li>
  <li>You have enough room for <strong>three guesses</strong>.</li>
  <li>No Backsies - Once you've submitted that's it.</li>
  <li>You don't need to use your real name, but <strong>please make sure it's obvious who you are</strong> (e.g. "Dave P" is better than just "Dave")</li>
  <li>The "secret word" should have been made available to you. Ask if you don't know what it is.</li>
</ul>

<%= render 'form' %>
